* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 64px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --footer-height: 240px;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: system-ui, sans-serif;
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

.header {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: var(--header-height);
  padding: 16px 24px;
  position: absolute;
  transform-origin: top left;
  width: 100%;
  z-index: 2;
}

.logotype {
  font-size: 24px;
  font-weight: bold;
}

.main {
  background-color: #fff;
  height: var(--main-height);
  padding: 24px;
  position: relative;
  top: var(--header-height);
  width: 100%;
}

.panel {
  align-items: center;
  border: 2px solid #212121;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

.input {
  appearance: none;
  border: 2px solid #000;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 16px;
  padding: 8px;
  position: relative;
  width: 400px;
}

.footer {
  align-items: flex-end;
  background-color: #212121;
  color: #fff;
  display: flex;
  height: var(--footer-height);
  padding: 40px 24px;
  position: absolute;
  top: calc(var(--header-height) + var(--main-height));
  width: 100%;
  z-index: 1;
}

.footer-inner {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  font-size: 12px;
}

@keyframes fall-header {
  0% {
    left: 0;
    rotate: 0;
    top: 0;
  }
  10% {
    left: 0;
    rotate: 4deg;
    top: 0;
  }
  50% {
    left: 2vw;
    rotate: 12deg;
    top: 0;
  }
  70% {
    left: 2vw;
    rotate: 12deg;
    top: calc(var(--main-height) - 20px);
  }
  100% {
    left: 2vw;
    rotate: 12deg;
    top: calc(var(--main-height));
  }
}

.container:has(.input:not(:placeholder-shown)) .header {
  animation: fall-header 600ms ease-in-out 0ms 1 forwards;
}

@keyframes fall-panel {
  0% {
    left: 0;
    rotate: 0;
    top: var(--header-height);
  }
  40% {
    left: -2vw;
    rotate: 3deg;
    top: calc(2 * var(--header-height));
  }
  70% {
    left: -2vw;
    rotate: 3deg;
    top: calc(1.5 * var(--header-height));
  }
  100% {
    left: -2vw;
    rotate: 3deg;
    top: calc(2 * var(--header-height));
  }
}

.container:has(.input:not(:placeholder-shown)) .panel {
  animation: fall-panel 300ms ease-in-out 400ms 1 forwards;
}

@keyframes fall-title {
  0% {
    left: 0;
    rotate: 0;
  }
  100% {
    left: 1vw;
    rotate: 3deg;
  }
}

.container:has(.input:not(:placeholder-shown)) .title {
  animation: fall-title 350ms ease-in-out 450ms 1 forwards;
}

@keyframes fall-input {
  0% {
    left: 0;
    rotate: 0;
    top: 0;
  }
  100% {
    left: -5vw;
    rotate: -5deg;
    top: 50px;
  }
}

.container:has(.input:not(:placeholder-shown)) .input {
  animation: fall-input 200ms ease-in-out 450ms 1 forwards;
}

@keyframes fall-footer {
  0% {
    left: 0;
    rotate: 0;
    top: calc(var(--header-height) + var(--main-height));
  }
  40% {
    left: 0;
    rotate: 1deg;
    top: calc(var(--main-height) + 40px);
  }
  60% {
    left: 1vw;
    rotate: 0;
    top: calc(var(--header-height) + var(--main-height));
  }
  85% {
    left: 1vw;
    rotate: -2deg;
    top: calc(var(--main-height) + 60px);
  }
  100% {
    left: 1vw;
    rotate: -2deg;
    top: calc(2 * var(--header-height) + var(--main-height));
  }
}

.container:has(.input:not(:placeholder-shown)) .footer {
  animation: fall-footer 400ms ease-in-out 200ms 1 forwards;
}
